

.tabs-3-panel {
    display: flex;
}

.three-panel-1 {
    width: max-content;
    margin: 1rem;
}

.three-panel-2 {
    width: max-content;
    margin: 1rem;
}

.three-panel-3 {
    width: max-content;
    margin: 1rem;
}



.item-type {
    padding: 1rem
}

.report-tab {
    border: 1px;
}

.tab-list-item {
    border: 1px solid black;
}