.items-3-panel {
    display: flex;
}

.item-type-card {
    padding: 1rem;
}

.type-dropdown {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.edit-item-card {
    padding: 1rem;
}

.item-list-card {
    padding: 1rem;
}

.item-type-card-title {
    font-weight: bold;
    padding-bottom: .5rem;
}